In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
storage = pd.read_csv("../data/storage_clean.csv")

In [22]:
import pyproj

In [11]:
myProj = Proj("+proj=utm +zone=18K, +north +ellps=WGS84 +datum=WGS84 +units=m +no_defs")

In [12]:
lon, lat = myProj(storage['UTMX'].values, storage['UTMY'].values)

In [17]:
u = utm.from_latlon(47.9941214, 7.8509671)
u

(414278.16730997514, 5316285.595228155, 32, 'T')

In [19]:
print(utm.to_latlon(*u))

(47.994121400319436, 7.850967021791838)

In [23]:
p = pyproj.Proj(proj='utm', zone=18, ellps='WGS84')

In [26]:
lon, lat = p(storage['UTMX'].values, storage['UTMY'].values, inverse=True)

In [27]:
lon

array([-73.89617642, -77.66424701, -73.6623237 , ..., -78.79280047,
       -78.79280047, -78.79280047])

Index(['X1', 'Program.Number', 'Program.Type', 'Site.Type.Name',
       'Program.Facility.Name', 'Address.1', 'Locality', 'ZIP.Code',
       'NYSDEC.Region', 'Tank.Number', 'Tank.Location', 'Tank.Status',
       'Install.Date', 'Capacity.in.Gallons', 'Tank.Type', 'Close.Date',
       'Material.Name', 'Percent', 'Expiration.Date', 'Site.Status.Name',
       'Lon', 'Lat', 'County.FIPS', 'County.Name'],
      dtype='object')

In [38]:
storage.to_csv('storage_clean.csv')

In [57]:
storage[['Address 1', 'Locality', 'ZIP Code',
       'NYSDEC Region', 'Tank Number', 'Tank Location', 'Tank Status',
       'Install Date', 'Capacity in Gallons', 'Tank Type', 'Close Date',
       'Material Name', 'Percent', 'Expiration Date', 'Site Status Name']].sample()

,Address 1,Locality,ZIP Code,NYSDEC Region,Tank Number,Tank Location,Tank Status,Install Date,Capacity in Gallons,Tank Type,Close Date,Material Name,Percent,Expiration Date,Site Status Name
282574,5908 HORSESHOE LAKE ROAD,STAFFORD,14143,8,001B,"Aboveground on saddles, legs, stilts, rack or ...",Tank Converted to Non-Regulated use,1992-02-01T00:00:00.000,1000.0,Steel/Carbon Steel/Iron,NaN,diesel,100.0,2012-10-06T00:00:00.000,Unregulated/Closed

In [270]:
col = 'UTMX'

In [271]:
storage[col].sort_values().unique()

array([       0.     ,   106866.54831,   107593.43437, ...,
         759819.69994, 11245017.72941,            nan])

In [272]:
sum(storage[col].isna())

8881

In [269]:
sum(storage['Percent']==0)

41744

In [255]:
storage[storage[col].isna()][['Site Type Name','Tank Number', 'Tank Location', 'Tank Status',
       'Install Date', 'Capacity in Gallons', 'Tank Type', 'Close Date',
       'Material Name', 'Percent', 'Expiration Date', 'Site Status Name']]

,Site Type Name,Tank Number,Tank Location,Tank Status,Install Date,Capacity in Gallons,Tank Type,Close Date,Material Name,Percent,Expiration Date,Site Status Name
1,Municipality (Incl. Waste Water Treatment Plan...,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
2,Municipality (Incl. Waste Water Treatment Plan...,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
3,Utility (Other than Municipal),NaN,?,?,NaN,0.0,?,,?,0.0,,Active
4,Municipality (Incl. Waste Water Treatment Plan...,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
5,Municipality (Incl. Waste Water Treatment Plan...,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
...,...,...,...,...,...,...,...,...,...,...,...,...
327320,Storage Terminal/Petroleum Distributor,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
327346,Storage Terminal/Petroleum Distributor,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
327349,Storage Terminal/Petroleum Distributor,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
327354,Storage Terminal/Petroleum Distributor,NaN,?,?,NaN,0.0,?,,?,0.0,,Active
327366,Storage Terminal/Petroleum Distributor,NaN,?,?,NaN,0.0,?,,?,0.0,,Active

In [39]:
storage

,Program Number,Program Type,Site Type Name,Program Facility Name,Address 1,Address 2,Locality,ZIP Code,County,NYSDEC Region,...,UTMY,Location 1,NYS Municipal Boundaries,New York Zip Codes,Counties,County Name,State FIPS,County Code,County FIPS,File Date
0,2-609057,PBS,Other,CITIGROUP,NaN,NaN,New York,10013,New York,2,...,4.508213e+06,"{'human_address': '{""address"": ""388 GREENWICH ...",749.0,737.0,2095.0,New York,36.0,61.0,36061.0,07/25/2007
1,1-000029,CBS,Municipality (Incl. Waste Water Treatment Plan...,NEW YORK AVE. WELLFIELD,NaN,NaN,MASSAPEQUA,11758,Nassau,1,...,4.504060e+06,NaN,NaN,NaN,NaN,Suffolk,36.0,103.0,36103.0,07/25/2007
2,1-000029,CBS,Municipality (Incl. Waste Water Treatment Plan...,NEW YORK AVE. WELLFIELD,NaN,NaN,MASSAPEQUA,11758,Nassau,1,...,4.504060e+06,NaN,NaN,NaN,NaN,Nassau,36.0,59.0,36059.0,07/25/2007
3,1-000036,CBS,Utility (Other than Municipal),HEMPSTEAD RESOURCE RECOVERY FACILITY,NaN,NaN,Westbury,11590,Nassau,1,...,4.510648e+06,"{'human_address': '{""address"": ""600 MERCHANTS""...",NaN,NaN,NaN,Nassau,36.0,59.0,36059.0,07/25/2007
4,1-000094,CBS,Municipality (Incl. Waste Water Treatment Plan...,CANTIAGUE PARK,NaN,NaN,Hicksville,11801,Nassau,1,...,4.514455e+06,NaN,NaN,NaN,NaN,Nassau,36.0,59.0,36059.0,07/25/2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327362,9-600875,PBS,Other,JOSEPH DAVIS STATE PARK,NaN,NaN,Lewiston,14092,Niagara,9,...,4.791749e+06,"{'human_address': '{""address"": ""590 Pletcher R...",164.0,31.0,2131.0,Niagara,36.0,63.0,36063.0,07/25/2007
327363,9-601282,PBS,Municipality (Incl. Waste Water Treatment Plan...,NEWFANE WASTEWATER PUMP STATION #3,NaN,NaN,NEWFANE,14108,Niagara,9,...,NaN,NaN,NaN,NaN,NaN,Niagara,36.0,63.0,36063.0,07/25/2007
327364,9-601426,PBS,Other,PROPERTY,NaN,NaN,WEST SENECA,14224,Erie,9,...,4.749104e+06,"{'human_address': '{""address"": ""5159 SENECA ST...",276.0,159.0,2041.0,Erie,36.0,29.0,36029.0,07/25/2007
327365,9-601110,PBS,Utility (Other than Municipal),CAMBRIA RADIO TOWER,NaN,NaN,Lockport,14094,Niagara,9,...,4.785751e+06,"{'human_address': '{""address"": ""4500 UPPER MOU...",173.0,930.0,2131.0,Niagara,36.0,63.0,36063.0,07/25/2007
327366,9-601791,PBS,Storage Terminal/Petroleum Distributor,NORTH BUSTI OIL FIELD,NaN,NaN,JAMESTOWN,14701,Chautauqua,9,...,NaN,"{'human_address': '{""address"": ""1464 FOREST AV...",224.0,1687.0,2035.0,Chautauqua,36.0,13.0,36013.0,07/25/2007

In [ ]:
storage = pd.read_csv()